<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <form action='loginSuccess' method='get'>
      <div id='wrap'>
        <input type="text" class="userInfo" placeholder="请输入已经验证手机/邮箱">
        <input type="password" class="userInfo" placeholder="请输入密码">
        <div id="forgetPass"><a href="###" >忘记密码?</a></div>
        <input type="submit" value="登录" id="loginBtn" >
      </div>

  </form>
  </body>
</html>
